// @import '~bootstrap/scss/bootstrap.scss';
@import '_variables.scss';


body {
    font-family: 'quicksand_lightregular';
    color:red;
}

div {
    margin:20px 0;
    // color:red;
    text-align: center;
    background:gainsboro;
    padding:30px;
    cursor:pointer;
}







